@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  margin: 0;
  background-color: #fafafa !important;
  color: #505050;
  font-family: 'Muli', sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Muli', sans-serif;
}

h4 {
  font-weight: 700 !important;
  color: #003366;
}